<header class="site-header">

  <div class="header-container">

    <div class="header-left">

      <a
        class="logo"
        routerLink="/home"
      >
        Foodie
      </a>

      <nav class="desktop-nav">

        <a
          routerLink="/home"
          routerLinkActive="active"
        >
          Home
        </a>

        <a
          routerLink="/menu"
          routerLinkActive="active"
        >
          Menu
        </a>

        @if (!loggedIn()) {

          <a
            routerLink="/login"
            routerLinkActive="active"
          >
            Login
          </a>

          <a
            routerLink="/register"
            routerLinkActive="active"
          >
            Register
          </a>

        }

      </nav>

    </div>


    @if (loggedIn()) {

      <div class="header-right">

        <a
          class="cart-link"
          routerLink="/cart"
          aria-label="Shopping cart"
        >

          <span class="cart-icon">
            🛒
          </span>

          @if (cartService.cartCount() > 0) {

            <span class="cart-badge">
              {{ cartService.cartCount() }}
            </span>

          }

        </a>


        <details class="profile-dropdown">

          <summary class="profile-button">
            👤
          </summary>

          <div class="dropdown-menu">

            <div class="hello-user">
              Hello: {{ userName() }}
            </div>

            <a routerLink="/profile">
              Profile
            </a>

            <button
              type="button"
              (click)="logout()"
            >
              Logout
            </button>

          </div>

        </details>

      </div>

    }

  </div>

</header>