<section class="profile-page">

  <h1>Profile Settings</h1>

  @if (loading()) {
    <p>Loading profile...</p>
  }

  @if (errorMessage()) {
    <p class="error-message">
      {{ errorMessage() }}
    </p>
  }

  @if (user(); as userData) {

    <div class="profile-tabs">

      <button
        type="button"
        [class.active]="activeTab() === 'personal'"
        (click)="showPersonalInfo()"
      >
        Personal Info
      </button>

      <button
        type="button"
        [class.active]="activeTab() === 'password'"
        (click)="showChangePassword()"
      >
        Change Password
      </button>

      <button
        type="button"
        [class.active]="activeTab() === 'account'"
        (click)="showAccountSettings()"
      >
        Account Settings
      </button>

    </div>


    @if (activeTab() === 'personal') {

      <div class="profile-card">

        <h2>Personal Information</h2>

        <p class="profile-subtitle">
          Update your personal details
        </p>


        <div class="avatar">

          @if (picture()) {

            <img
              [src]="picture()"
              [alt]="firstName() || 'User'"
            />

          } @else {

            <span>User</span>

          }

        </div>


        <label>
          Picture

          <input
            type="text"
            [value]="picture()"
            (input)="onPictureChange($event)"
          />
        </label>


        <div class="form-row">

          <label>
            First Name

            <input
              type="text"
              [value]="firstName()"
              (input)="onFirstNameChange($event)"
            />
          </label>


          <label>
            Last Name

            <input
              type="text"
              [value]="lastName()"
              (input)="onLastNameChange($event)"
            />
          </label>

        </div>


        <label>
          Email

          <input
            type="email"
            [value]="userData.email || ''"
            readonly
          />
        </label>


        <label>
          Phone Number

          <input
            type="text"
            [value]="phoneNumber()"
            (input)="onPhoneNumberChange($event)"
          />
        </label>


        <label>
          Address

          <textarea
            [value]="address()"
            (input)="onAddressChange($event)"
          ></textarea>
        </label>


        <label>
          Age

          <input
            type="number"
            [value]="age() ?? ''"
            (input)="onAgeChange($event)"
          />
        </label>


        @if (profileError()) {
          <p class="error-message">
            {{ profileError() }}
          </p>
        }


        @if (profileMessage()) {
          <p class="success-message">
            {{ profileMessage() }}
          </p>
        }


        <button
          type="button"
          class="primary-button"
          (click)="updateProfile()"
          [disabled]="profileLoading()"
        >
          @if (profileLoading()) {
            Saving...
          } @else {
            Save Changes
          }
        </button>

      </div>

    }


    @if (activeTab() === 'password') {

      <div class="profile-card">

        <h2>Change Password</h2>

        <p class="profile-subtitle">
          Update your password
        </p>


        <label>
          Current Password

          <input
            type="password"
            [value]="oldPassword()"
            (input)="onOldPasswordChange($event)"
          />
        </label>


        <label>
          New Password

          <input
            type="password"
            [value]="newPassword()"
            (input)="onNewPasswordChange($event)"
          />
        </label>


        <label>
          Confirm New Password

          <input
            type="password"
            [value]="confirmPassword()"
            (input)="onConfirmPasswordChange($event)"
          />
        </label>


        <ul class="password-rules">
          <li>At least 8 characters</li>
          <li>Uppercase and lowercase letters</li>
          <li>At least one number</li>
        </ul>


        @if (passwordError()) {
          <p class="error-message">
            {{ passwordError() }}
          </p>
        }


        @if (passwordMessage()) {
          <p class="success-message">
            {{ passwordMessage() }}
          </p>
        }


        <button
          type="button"
          class="primary-button"
          (click)="changePassword()"
          [disabled]="passwordLoading()"
        >
          @if (passwordLoading()) {
            Updating...
          } @else {
            Update Password
          }
        </button>

      </div>

    }


    @if (activeTab() === 'account') {

      <div class="profile-card">

        <h2>Account Settings</h2>

        <p class="profile-subtitle">
          Manage your account
        </p>


        <div class="danger-zone">

          <h3>Danger Zone</h3>

          <p>
            Once you delete your account, there is no going back.
            Please be certain.
          </p>

          <button
            type="button"
            class="danger-button"
            (click)="deleteAccount()"
          >
            Delete My Account
          </button>

        </div>

      </div>

    }

  }

</section>